*{margin:0;padding: 0;}


header{height: 150px;   
       width: 100%;    
       background-color: #FFFAFA;
    }      

  
    
.logo{width: 25%;
      height: 150px;
      float: left;
      }

.titulo{width: 50%;
        height: 150px;
        float: left;
      
      }

.info{width: 25%;
      height: 150px;
      float: left;     
}

 
nav{width: 100%;
    height: 40px;
    background-color: rgb(21, 255, 0);}

.logo img{height: 135px;
      border-radius: 50%;
      display: block;
      margin: auto;
      padding-top: 10px;}



.titulo h1{text-align: center;
        color: rgb#88fafa;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;}

.titulo h2{
  text-align: center;
  color: rgb#94f8f8;
  padding-top: 20px;
  font-family: cursive;
  font-size: 30px;

}  

.info p{text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(10, 10, 10);
  padding-top: 40px;
  line-height: 1.8;}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C2C2D8;
}

li{
  float: left;
}

li a{
  display: block;
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover  {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
 
}
#titulo2{text-align: center;
  font-size: 40px;
  font-family: cursive;
  padding-top: 30px; 
}
 
#parrafo2{font-size: 25px;
  margin: 100px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor{width: 70%;
  height: 220px;  
  display: block;
  margin: auto;
  
  



}
.carro, .Motos, .Avion, .helicoptero, .barco{width: 200px;
      height: 200px;
      float: left;
      margin: 10px;
      

    
    
    }
    
.contenedor img{width: 200px;
          height: 200px;
          border-radius: 50%;
          
        }








